@model BurningMan.Models.ChangePassword
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <h1>Password setting</h1>

    <h4>Changing Password for @Model.Email</h4>

    <form asp-action="ChangePassword" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />

        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New Password</label>
            <input type="text" asp-for="NewPassword" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-dark" />
        </div>
    </form>
</div>
